{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学籍管理系统SMS</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
    <style>
        .navbar {
            border-radius: 0;
        }
    </style>
    {% block css %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin/list/">学籍管理系统SMS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        管理功能 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/student/list/">学生管理 </a></li>
                        <li><a href="/student/course/list/">选课管理 </a></li>
                        <li><a href="/major/list/">专业管理 </a></li>
                        <li><a href="/classes/list/">班级管理 </a></li>
                        <li><a href="/course/list/">课程管理 </a></li>
                        <li><a href="/teacher/list/">教师管理 </a></li>
                        <li><a href="/teaching/plan/list/">教学计划管理 </a></li>
                        <li><a href="/teaching/duty/list/">授课职责管理 </a></li>
                    </ul>
                </li>
                <li><a href="/student/extra/list/">查询学生额外信息 </a></li>
                <li><a href="/student/expel/list/">查询高危学生信息 </a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ request.session.info.name }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">我的信息</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout/">注销</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div>
    {% block content %}{% endblock %}
</div>

<script src="{% static '/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static '/plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
{% block js %}

{% endblock %}
</body>
</html>