{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">
            <a class="btn btn-success" href="/student/course/add/" target="_self">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新建选课信息
            </a>


        </div>
        <div class="panel panel-default" style="margin-top: 10px">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                学生选课信息列表
            </div>
            <div class="panel-body">
                <p>在此页面可以增删改查学生选课基本信息,如：根据学号和课程录入成绩</p>
                <div>
                <form method="get" >
                    <div class="input-group" style="display: flex; flex-direction: row; align-content: space-between" >
                            <div style="width: 45%;display: flex;flex-direction: row;margin-right: 15px">
                                <label>学号</label>
                                <input type="text" class="form-control" name="s_id" placeholder="Search for..." value="{{ search_data.s_id }}" >
                            </div>
                            <div style="width: 45%;display: flex;flex-direction: row;margin-right: 15px">
                                <label>课程</label>
                                <input type="text" class="form-control" name="c_id" placeholder="Search for..." value="{{ search_data.c_id }}" >
                            </div>

                            <span class="input-group-btn">
                          <button class="btn btn-default" type="submit">
                              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                          </button>
                        </span>
                    </div><!-- /input-group -->
                </form>
            </div>
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>学号</th>
                    <th>课程号</th>
                    <th>是否补考</th>
                    <th>成绩</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}

                    <tr>
                        <td>{{ obj.students_id }}</td>
                        <td>{{ obj.courses_id }}</td>
                        <td>{{ obj.resit }}</td>
                        <td>{{ obj.grade }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/student/course/{{ obj.id }}/edit/">edit</a>
                            <a class="btn btn-danger btn-xs" href="/student/course/{{ obj.id }}/delete/">delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}