{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">
            <a class="btn btn-success" href="/student/add/" target="_self">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新建学生
            </a>


        </div>
        <div class="panel panel-default" style="margin-top: 10px">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                学生列表 --
                【学号: [{{ search_data.s_id }}]】/【姓名: [{{ search_data.s_name }}]】/【专业: [{{ search_data.s_major }}]】
            </div>
            <div class="panel-body">
                <p>在此页面可以按学号、姓名、专业三种方式增删改查学生基本信息</p>
                <div>
                <form method="get" >
                    <div class="input-group" style="display: flex; flex-direction: row; align-content: space-between" >
                            <div style="width: 30%;display: flex;flex-direction: row;margin-right: 15px">
                                <label>学号</label>
                                <input type="text" class="form-control" name="s_id" placeholder="Search for..." value="{{ search_data.s_id }}" >
                            </div>
                            <div style="width: 30%;display: flex;flex-direction: row;margin-right: 15px">
                                <label>姓名</label>
                                <input type="text" class="form-control" name="s_name" placeholder="Search for..." value="{{ search_data.s_name }}" >
                            </div>
                            <div style="width: 30%;display: flex;flex-direction: row;margin-right: 15px">
                                <label>专业</label>
                                <input type="text" class="form-control" name="s_major" placeholder="Search for..." value="{{ search_data.s_major }}" >
                            </div>

                            <span class="input-group-btn">
                          <button class="btn btn-default" type="submit">
                              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                          </button>
                        </span>
                    </div><!-- /input-group -->
                </form>
            </div>
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>出生年月</th>
                    <th>班号</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}

                    <tr>
                        <td>{{ obj.student_id }}</td>
                        <td>{{ obj.student_name }}</td>
                        <td>{{ obj.student_gender }}</td>
                        <td>{{ obj.student_birthday|date:"Y-m-d" }}</td>
                        <td>{{ obj.classes_id }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/student/{{ obj.id }}/edit/">edit</a>
                            <a class="btn btn-danger btn-xs" href="/student/{{ obj.id }}/delete/">delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}